*/target
*/.idea
*/node_modules
*/.DS_store
*/HELP.md
backend/.mvn
backend/docker.db.env
backend/docker-compose.yml
backend/docker.app.env
backend/aleh1s-api.iml
*/Dockerrun.aws.json
backend/mvnw
backend/mvnw.cmd
